<div class="modal fade" id="showModal<%= ticket.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-image">
        <%= image_tag(ticket.photo_url, class: "card-img-top") %>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-header">
        <h5 class="modal-title"><%= ticket.title %></h5>
      </div>
      <div class="modal-body">
        <p><%= ticket.description %></p>
      </div>
      <% if ticket.comments.blank? %>
        <div class="form-comments">
          <%= render partial: 'comments/new', locals: { ticket: ticket } %>
        </div>
        <div class="comments-results"></div>
      <% else %>
        <div class="form-comments">
          <%= render partial: 'comments/new', locals: { ticket: ticket } %>
        </div>
        <div class="comments-results">
          <% ticket.comments.each do |comment| %>
            <p><%= comment.description %></p>
          <% end %>
        </div>
      <% end %>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Edit the ticket</button>
        <% if current_user == ticket.user %>
          <%= button_to 'Close the ticket', ticket_path(ticket, open: false), method: :patch, class: 'btn btn-warning' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
